In [1]:
!pip install sidetable

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sidetable
  Downloading sidetable-0.9.0-py3-none-any.whl (17 kB)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from sidetable) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->sidetable) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->sidetable) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->sidetable) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->sidetable) (1.15.0)
Installing collected packages: sidetable
Successfully installed sidetable-0.9.0

In [2]:
#importing modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import sidetable as stb
import warnings

%matplotlib inline
warnings.filterwarnings("ignore")

In [3]:
#reading dataset
df=pd.read_csv('/content/cleaned_test.csv')
df

,Unnamed: 0,Age,AverageLeadTime,DistributionChannel,MarketSegment,SRHighFloor,SRBathtub,SRCrib,SRKingSizeBed,SRTwinBed,SRNearElevator,SRNoAlcoholInMiniBar,SRQuietRoom,total_revenue,PersonsperRoom,checked_in
0,1,16,130,3,5,0,0,0,0,0,0,0,0,638.58,3.0,0
1,5,42,1,0,2,0,0,0,0,0,0,0,0,66.00,1.0,0
2,6,31,4,3,5,0,0,0,1,0,0,0,0,175.40,1.0,0
3,8,63,20,3,5,0,0,0,0,0,0,0,0,292.46,2.0,0
4,12,39,42,3,6,0,0,0,0,0,0,0,0,300.00,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,990,48,20,3,5,0,0,0,0,0,0,0,0,323.00,2.0,0
444,992,49,91,3,5,0,0,0,1,0,0,0,0,145.00,2.0,0
445,994,52,116,3,5,0,0,0,0,0,0,0,0,442.40,2.0,0
446,996,47,109,3,5,0,0,0,1,0,0,0,0,604.60,2.0,0
447,998,85,109,3,5,0,0,0,0,1,0,0,0,990.30,2.0,0

# Feature Engineering

In [4]:
#checking different columns
df.columns

Index(['Unnamed: 0', 'Age', 'AverageLeadTime', 'DistributionChannel',
       'MarketSegment', 'SRHighFloor', 'SRBathtub', 'SRCrib', 'SRKingSizeBed',
       'SRTwinBed', 'SRNearElevator', 'SRNoAlcoholInMiniBar', 'SRQuietRoom',
       'total_revenue', 'PersonsperRoom', 'checked_in'],
      dtype='object')

In [5]:
#checking nan values
df.isnull().sum()

Unnamed: 0              0
Age                     0
AverageLeadTime         0
DistributionChannel     0
MarketSegment           0
SRHighFloor             0
SRBathtub               0
SRCrib                  0
SRKingSizeBed           0
SRTwinBed               0
SRNearElevator          0
SRNoAlcoholInMiniBar    0
SRQuietRoom             0
total_revenue           0
PersonsperRoom          0
checked_in              0
dtype: int64

In [6]:
#checking info of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 448 entries, 0 to 447
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            448 non-null    int64
 1   Age                   448 non-null    int64
 2   AverageLeadTime       448 non-null    int64
 3   DistributionChannel   448 non-null    int64
 4   MarketSegment         448 non-null    int64
 5   SRHighFloor           448 non-null    int64
 6   SRBathtub             448 non-null    int64
 7   SRCrib                448 non-null    int64
 8   SRKingSizeBed         448 non-null    int64
 9   SRTwinBed             448 non-null    int64
 10  SRNearElevator        448 non-null    int64
 11  SRNoAlcoholInMiniBar  448 non-null    int64
 12  SRQuietRoom           448 non-null    int64
 13  total_revenue         448 non-null    float64
 14  PersonsperRoom        448 non-null    float64
 15  checked_in            448 non-null    int64
dtypes: float64(2), int64(14)
memory usage: 56.1 KB

In [7]:
#describing dataset
df.describe()

,Unnamed: 0,Age,AverageLeadTime,DistributionChannel,MarketSegment,SRHighFloor,SRBathtub,SRCrib,SRKingSizeBed,SRTwinBed,SRNearElevator,SRNoAlcoholInMiniBar,SRQuietRoom,total_revenue,PersonsperRoom,checked_in
count,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.0,448.000000,448.000000,448.000000,448.0
mean,492.073661,44.966518,82.220982,2.466518,4.595982,0.044643,0.004464,0.033482,0.419643,0.127232,0.004464,0.0,0.125000,437.406004,2.089286,0.0
std,291.365537,15.852120,78.147642,0.971055,1.261965,0.206749,0.066741,0.180093,0.494052,0.333605,0.066741,0.0,0.331089,418.168107,0.659517,0.0
min,1.000000,3.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,1.000000,0.0
25%,241.500000,33.750000,19.000000,3.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,139.040000,2.000000,0.0
50%,484.000000,46.000000,49.000000,3.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,359.600000,2.000000,0.0
75%,741.000000,56.250000,122.250000,3.000000,5.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,581.762500,2.000000,0.0
max,998.000000,85.000000,340.000000,3.000000,6.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,2766.000000,4.000000,0.0

In [8]:
# Removing Unimportant Columns
df.drop(columns=['Unnamed: 0'],axis=1,inplace=True)

# Testing

In [10]:
# Splitting Dependent and Independenet Variables
X = df.drop(['checked_in'],axis=1)
y = df['checked_in']

In [11]:
# splitting training and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1,shuffle=True)

In [12]:
#loading the model and weights
from keras.models import load_model
model = load_model('/content/hotel_customer_model.h5')
model.load_weights('/content/weights.h5')

In [13]:
#fitting the model
model.fit(X_train, y_train)

13/13 [==============================] - 1s 3ms/step - loss: 0.0136 - accuracy: 0.9950

In [14]:
# checking classification report
from sklearn.metrics import classification_report
y_pred=model.predict(X_test, batch_size=64, verbose=1)
y_pred =(y_pred>0.5)
print(classification_report(y_test, y_pred))

1/1 [==============================] - 0s 106ms/step
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        45

    accuracy                           1.00        45
   macro avg       1.00      1.00      1.00        45
weighted avg       1.00      1.00      1.00        45

In [15]:
#calculate the accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)
print(score)

1.0